<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
      </h1>
      <div class="item-subtitle">
        <h4 class="item-type"> {{data.label}} </h4>
        <span class="item-status"></span>
      </div>
      <ul class="summary">
        <li>
          <label> Sub-name </label> <input name="data.subname" value="{{data.subname}}" type="text" />
        </li>
      </ul>
    </div>
  </header>
  <div class="gold-border"> </div>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-tab="description">
      <div class="form-line">
        <label> Short Description </label>
        <textarea name="data.description_short" placeholder="Short Description">{{data.description_short}}</textarea>
      </div>

      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Effects Tab --}}
        <div class="tab" data-tab="effects">
          <div class="item-stat-block">
            <div class="form-line">
              <label> Active </label>
              <label class="checkBox">
                <input data-dtype="Boolean" name="data.effectsActive" type="checkbox" {{checked data.effectsActive}}>
                <span></span>
              </label>
            </div>
    
            <div class="form-line attributeList">
              <label> Effects </label>
              <span class="stoneButton effectAdd">+</span>
              {{#each data.effects}}
              <span>
                <select name="data.effects.{{@index}}.name">
                  {{#select name}}
                  <optgroup label="Attributes">
                    {{#each ../config.attributes_physical}}
                    <option value="attributes_physical.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.attributes_social}}
                    <option value="attributes_social.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.attributes_mental}}
                    <option value="attributes_mental.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  <optgroup label="Skills">
                    {{#each ../config.skills_physical}}
                    <option value="skills_physical.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.skills_social}}
                    <option value="skills_social.{{@key}}">{{this}}</option>
                    {{/each}}
                    {{#each ../config.skills_mental}}
                    <option value="skills_mental.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  <optgroup label="Traits">
                    {{#each ../config.derivedTraits}}
                    <option value="derivedTraits.{{@key}}">{{this}}</option>
                    {{/each}}
                  </optgroup>
                  {{/select}}
                </select>
                <input name="data.effects.{{@index}}.value" type="number" data-dtype="Number" value="{{value}}" />
              </span>
              <span class="stoneButton effectRemove" data-index={{@index}}>-</span>
              {{/each}}
            </div>
          </div>
        </div>
  </section>
</form>